.idea/.name
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sigephp.iml
.idea/vcs.xml
.idea/workspace.xml
/uploads/*.pdf
vendor/
includes/log/*.txt
.bd/flyway/*
!.bd/flyway/sql